/* Reset básico e tipografia */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
               "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  background-color: #0d1117;
  color: #f0f6fc;
}

header{
    max-width: 800px;
    margin: 0 auto ;
}

/* Títulos */
h2 {
  font-size: 1.8rem;
  margin-bottom: 16px;
  margin-top: 10px;
}

/* Inputs e botões */
input[type="text"] {
  width: calc(100% - 100px);
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #3d444d;
  border-radius: 4px;
  margin-right: 8px;
  background-color: #151b23;
  color: #fff;

}

/* Inputs numéricos (mesmo estilo dos textuais) */
input[type="number"] {
  width: 100px;
  margin-left: auto;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #3d444d;
  border-radius: 4px;
  margin-right: 8px;
  background-color: #151b23;
  color: #fff;
  appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


button {
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #238636;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #29903b;
}

.costWrap{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#costFunction{
    margin-left: 10px;
}

#plotsWrap{
  width: fit-content;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#addPoints{
  margin-left: 20px;
  margin-right: 100px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.addWrapers{
  display: flex;
  margin:10px 0px;
}

#addBnt{
  margin-left: auto;
}

.explanation {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto 40px;
}
.explanation > div {
  align-self: center;  
  margin: 16px;
}

a:link {
  color: #58A6FF;
}
a:visited {
  color: #D29922;
}
a:hover {
  color: #1F6FEB;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #151b23;
  color: #f0f6fc;
  border-top: 1px solid #30363d;
  font-size: 0.9rem;
}
.footer-text {
  margin: 0;
}
.footer-links a {
  margin-left: 1rem;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.footer-links #linkedin:hover {
  color: #58a6ff;
}

.footer-links #github:hover {
  color:#0d1117;
}
.footer-links svg {
  vertical-align: middle;
  fill: currentColor;
}
